{% extends 'auth_base.html' %}

{% block content %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script>

        let fet_os_events = [
            {% for event in fet_os_events %}
                {
                    id: {{ event.id }},
                    title: '{{ event.title }}',
                    start: '{{ event.event_date_time }}'
                }
                {% if not forloop.last %},{% endif %}
            {% endfor %}
        ];
        console.log(fet_os_events)
        document.addEventListener('DOMContentLoaded', function () {
            let calendarEl = document.getElementById('calendar');

            let calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: fet_os_events
            });
            calendar.render();
        });

    </script>
    <div id='calendar'></div>

{% endblock %}